# Byte-compiled files
__pycache__/

# env files
instance/
.webassets-cache
.env
.venv/
env/
venv/
ENV/
.env.*
.envrc
.pipenv
.pipenv.lock
.pipfile.lock

# appdata 

# ignore all saved endpoints from being pushed except the .gitkeep file
appdata/saved_endpoints/*
!appdata/saved_endpoints/.gitkeep

# ignore all saved chats from ebign pushed 
appdata/chat_history/*
!appdata/chat_history/.gitkeep

# Temporary files
*.tmp
*.temp

# Logs
*.log
*.log.*

# Ignore the master key file in the appdata
appdata/master.key

# Ignore all .key files anywhere in the repository (as a safety [precaution])
*.key

# ignore test files
app/test.py
app/test2.py
app/tests/*